nifi/yacovida.json
{"flowContents":{"identifier":"cdb6fdc7-bcb8-3b62-a7ee-0b1b04eca8c8","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"Daily Data Upload (Timeseries)","comments":"","position":{"x":48.0,"y":384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c359506a-9bd0-35fa-8170-f962ea0fb3ea","name":"Clean Date","comments":"","position":{"x":-1160.0,"y":1088.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","properties":{"groovyx-script-body":"import java.text.ParseException\nimport java.text.SimpleDateFormat\n\nclass DateConst {\n    static SimpleDateFormat DATE_FORMAT_GMT = null;\n    static def datePatterns = [\n      'yyyy-MM-dd HH:mm:ss', \n      'yyyy-MM-dd HH:mm', \n      'yyyy-MM-dd', \n      'MM/dd/yy HH:mm:ss',\n      'MM/dd/yy HH:mm',\n      'MM/dd/yy'\n    ];\n}\n\nstatic onStart(ProcessContext context){\n  DateConst.DATE_FORMAT_GMT = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\");\n  DateConst.DATE_FORMAT_GMT.setTimeZone(TimeZone.getTimeZone(\"UTC\"));\n}\n\ndef flowFile = session.get();\nif(!flowFile) return\n\nString last_update = flowFile.last_update;    \nString parsedDate = last_update;\n\nfor (f in DateConst.datePatterns) {\n    try {\n        SimpleDateFormat dateFormat = new SimpleDateFormat(f);\n        dateFormat.setTimeZone(TimeZone.getTimeZone(\"UTC\"));\n        Date date = dateFormat.parse(last_update);\n        parsedDate = DateConst.DATE_FORMAT_GMT.format(date);\n        break;\n    } catch (ParseException pe) {\n        //silent\n    }\n}\nflowFile = session.putAttribute(flowFile, 'last_update', parsedDate)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"3bdf7e6e-fe79-3df6-bf12-229673dacdc8","name":"AttributesToJSON","comments":"","position":{"x":-1640.0,"y":1144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"active,last_update,admin2,combined_key,confirmed,deaths,recovered,fips,region,lat,long_,province_state,day,month,year","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"5744f655-a14e-3fb2-a03f-509ddae2934d","name":"PutCassandraRecord","comments":"","position":{"x":-704.0,"y":1208.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-cassandra-nar","version":"1.11.3"},"style":{"background-color":"#0fd931"},"type":"org.apache.nifi.processors.cassandra.PutCassandraRecord","properties":{"put-cassandra-record-batch-size":"100","put-cassandra-record-batch-statement-type":"LOGGED","SSL Context Service":null,"Username":"cassandra","put-cassandra-record-reader":"a3f92f0e-ca9a-3cf4-9ba4-a2898a5177c1","Consistency Level":"SERIAL","Keyspace":"coronavirus","cassandra-connection-provider":null,"Client Auth":"REQUIRED","Cassandra Contact Points":"localhost:9042","put-cassandra-record-table":"region_daily_data_points"},"propertyDescriptors":{"put-cassandra-record-batch-size":{"name":"put-cassandra-record-batch-size","displayName":"Batch size","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-batch-statement-type":{"name":"put-cassandra-record-batch-statement-type","displayName":"Batch Statement Type","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-reader":{"name":"put-cassandra-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Consistency Level":{"name":"Consistency Level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"Keyspace":{"name":"Keyspace","displayName":"Keyspace","identifiesControllerService":false,"sensitive":false},"cassandra-connection-provider":{"name":"cassandra-connection-provider","displayName":"Cassandra Connection Provider","identifiesControllerService":true,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Cassandra Contact Points":{"name":"Cassandra Contact Points","displayName":"Cassandra Contact Points","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-table":{"name":"put-cassandra-record-table","displayName":"Table name","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"92136eea-1f18-3c38-a16c-047796734d60","name":"LogAttribute","comments":"","position":{"x":-56.0,"y":1200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"91a20707-c24c-3df6-8492-d8a16e9745a8","name":"LogAttribute","comments":"","position":{"x":-56.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"bb3ecc84-b9f7-39c7-a304-3f9190aede78","name":"ReplaceText","comments":"","position":{"x":-1160.0,"y":1512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"\"\"","Replacement Value":"\"0\"","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"ae9b3cb7-ede0-31c1-8dd2-1d0e54e4511d","name":"ExecuteGroovyScript","comments":"","position":{"x":-1984.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","properties":{"groovyx-script-body":"class Const{\n    static Date lastUpdate = null;\n  }\n\n  static onStart(ProcessContext context){\n    Const.lastUpdate = new Date(\"04/23/2020\");\n    println \"onStart $context ${Const.lastUpdate}\"\n  }\n\n  static onStop(ProcessContext context){\n    println \"onStop $context ${Const.lastUpdate}\"\n  }\n  \nd1 = Const.lastUpdate\nd2 = new Date()\n(d1..d2).each { \n    def flowFile=session.create()\n    flowFile=session.putAttribute(flowFile,\"day\", it.format('dd'));     \n    flowFile=session.putAttribute(flowFile,\"month\", it.format('MM'));     \n    flowFile=session.putAttribute(flowFile,\"year\", it.format('yyyy'));     \n    flowFile=session.putAttribute(flowFile,\"targetDate\", it.format('MM-dd-yyyy'));     \n    REL_SUCCESS << flowFile\n}\nConst.lastUpdate = d2\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"* 20 14 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"2bf55765-5394-3d0d-afff-49d9f8e0eff6","name":"LogAttribute","comments":"","position":{"x":-1984.0,"y":1512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"6041394f-77bd-3f64-bbd0-d16473bfd49d","name":"LogAttribute","comments":"","position":{"x":-1160.0,"y":776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"cf616611-b9b6-35e2-a0fd-ec8332269e42","name":"UpdateAttribute","comments":"","position":{"x":-1640.0,"y":776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"month":"${last_update:toDate('yyyy-MM-dd HH:mm:ss'):format('MM')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","year":"${last_update:toDate('yyyy-MM-dd HH:mm:ss'):format('yyyy')}","last_update":"${last_update:toDate('yyyy-MM-dd HH:mm:ss'):toNumber()}","Stateful Variables Initial Value":null,"day":"${last_update:toDate('yyyy-MM-dd HH:mm:ss'):format('dd')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"month":{"name":"month","displayName":"month","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"year":{"name":"year","displayName":"year","identifiesControllerService":false,"sensitive":false},"last_update":{"name":"last_update","displayName":"last_update","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"day":{"name":"day","displayName":"day","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"25fe201c-b22e-3708-8d00-c5908a144410","name":"SplitRecord","comments":"","position":{"x":-696.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitRecord","properties":{"Record Writer":"68402148-025a-3fdc-ad8b-2286b8c2d1d5","Record Reader":"46f7148f-7130-3f9d-aa99-6b8dec5dbe61","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"62104352-e8fd-38c7-be52-52942a1ef34a","name":"LogAttribute","comments":"","position":{"x":-56.0,"y":880.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"456cc1e0-b67e-344f-9c2f-7fc10ad39c4d","name":"LogAttribute","comments":"","position":{"x":-704.0,"y":1512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"a5270292-59f9-345d-8251-54f3bd5e1a45","name":"InvokeHTTP","comments":"","position":{"x":-1304.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{"background-color":"#00f2ba"},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":"(.*)","use-etag":"true","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"60 secs","send-message-body":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/${targetDate}.csv","Content-Type":"${mime.type}","invokehttp-proxy-user":null,"Read Timeout":"120 secs","Max Length To Put In Attribute":"256","Proxy Port":null,"SSL Context Service":"2251f54b-3701-38f4-bdcb-a1b064ce4bc8","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"48a16211-0270-365c-acf5-f656a6c2ff93","name":"EvaluateJsonPath","comments":"","position":{"x":-696.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","combined_key":"$.Combined_Key","long_":"$.Long_","Return Type":"json","province_state":"$.Province_State","active":"$.Active","fips":"$.FIPS","Null Value Representation":"empty string","confirmed":"$.Confirmed","Path Not Found Behavior":"ignore","recovered":"$.Recovered","last_update":"$.Last_Update","admin2":"$.Admin2","region":"$.Country_Region","deaths":"$.Deaths","lat":"$.Lat"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"combined_key":{"name":"combined_key","displayName":"combined_key","identifiesControllerService":false,"sensitive":false},"long_":{"name":"long_","displayName":"long_","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"province_state":{"name":"province_state","displayName":"province_state","identifiesControllerService":false,"sensitive":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false},"fips":{"name":"fips","displayName":"fips","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"confirmed":{"name":"confirmed","displayName":"confirmed","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"recovered":{"name":"recovered","displayName":"recovered","identifiesControllerService":false,"sensitive":false},"last_update":{"name":"last_update","displayName":"last_update","identifiesControllerService":false,"sensitive":false},"admin2":{"name":"admin2","displayName":"admin2","identifiesControllerService":false,"sensitive":false},"region":{"name":"region","displayName":"region","identifiesControllerService":false,"sensitive":false},"deaths":{"name":"deaths","displayName":"deaths","identifiesControllerService":false,"sensitive":false},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3ac6419d-d4a9-3c23-a13b-0b774ab17481","name":"","source":{"id":"25fe201c-b22e-3708-8d00-c5908a144410","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"SplitRecord","comments":""},"destination":{"id":"91a20707-c24c-3df6-8492-d8a16e9745a8","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"a98c2b39-5c8e-38de-91a1-2c77d926756e","name":"","source":{"id":"25fe201c-b22e-3708-8d00-c5908a144410","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"SplitRecord","comments":""},"destination":{"id":"48a16211-0270-365c-acf5-f656a6c2ff93","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"803225e5-2ef9-397f-86e2-779e618e5056","name":"","source":{"id":"ae9b3cb7-ede0-31c1-8dd2-1d0e54e4511d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"ExecuteGroovyScript","comments":""},"destination":{"id":"a5270292-59f9-345d-8251-54f3bd5e1a45","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"201df3ba-f8b9-3728-add7-2c6ab09949f6","name":"","source":{"id":"ae9b3cb7-ede0-31c1-8dd2-1d0e54e4511d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"ExecuteGroovyScript","comments":""},"destination":{"id":"2bf55765-5394-3d0d-afff-49d9f8e0eff6","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"909a83ef-14d9-3f99-abd8-806e5cb905ea","name":"","source":{"id":"5744f655-a14e-3fb2-a03f-509ddae2934d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"PutCassandraRecord","comments":""},"destination":{"id":"456cc1e0-b67e-344f-9c2f-7fc10ad39c4d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"f3934125-769b-3d39-a949-89df01eb1b79","name":"","source":{"id":"a5270292-59f9-345d-8251-54f3bd5e1a45","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"InvokeHTTP","comments":""},"destination":{"id":"25fe201c-b22e-3708-8d00-c5908a144410","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"SplitRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"163ad176-be07-34e5-a66e-1d53cc2b5db7","name":"","source":{"id":"48a16211-0270-365c-acf5-f656a6c2ff93","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"EvaluateJsonPath","comments":""},"destination":{"id":"c359506a-9bd0-35fa-8170-f962ea0fb3ea","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"Clean Date","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"c729535f-cb73-3e63-bbdd-bc1ad67d5950","name":"","source":{"id":"cf616611-b9b6-35e2-a0fd-ec8332269e42","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"UpdateAttribute","comments":""},"destination":{"id":"3bdf7e6e-fe79-3df6-bf12-229673dacdc8","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"AttributesToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"47cb7938-c8e6-38f0-8ba5-97d3658538a9","name":"","source":{"id":"c359506a-9bd0-35fa-8170-f962ea0fb3ea","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"Clean Date","comments":""},"destination":{"id":"6041394f-77bd-3f64-bbd0-d16473bfd49d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"6b473217-d73a-3e16-b3ab-c78e63247a99","name":"","source":{"id":"48a16211-0270-365c-acf5-f656a6c2ff93","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"EvaluateJsonPath","comments":""},"destination":{"id":"62104352-e8fd-38c7-be52-52942a1ef34a","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"158ff294-f645-36f3-8804-4f994c4488ec","name":"","source":{"id":"3bdf7e6e-fe79-3df6-bf12-229673dacdc8","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"AttributesToJSON","comments":""},"destination":{"id":"bb3ecc84-b9f7-39c7-a304-3f9190aede78","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"f6059109-bd49-366f-a1e1-e3fcf5b67cc5","name":"","source":{"id":"25fe201c-b22e-3708-8d00-c5908a144410","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"SplitRecord","comments":""},"destination":{"id":"62104352-e8fd-38c7-be52-52942a1ef34a","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"b675dec2-1613-37fc-9bc1-77531fca80d9","name":"","source":{"id":"c359506a-9bd0-35fa-8170-f962ea0fb3ea","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"Clean Date","comments":""},"destination":{"id":"cf616611-b9b6-35e2-a0fd-ec8332269e42","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"b115dc1e-db8c-3f49-9eee-233077298595","name":"","source":{"id":"bb3ecc84-b9f7-39c7-a304-3f9190aede78","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"ReplaceText","comments":""},"destination":{"id":"2bf55765-5394-3d0d-afff-49d9f8e0eff6","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"636d897f-cd44-3f85-8231-79ebfc2d5a96","name":"","source":{"id":"bb3ecc84-b9f7-39c7-a304-3f9190aede78","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"ReplaceText","comments":""},"destination":{"id":"5744f655-a14e-3fb2-a03f-509ddae2934d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"PutCassandraRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"a592ab90-1a77-3967-9bf2-73d43711f8e3","name":"","source":{"id":"3bdf7e6e-fe79-3df6-bf12-229673dacdc8","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"AttributesToJSON","comments":""},"destination":{"id":"2bf55765-5394-3d0d-afff-49d9f8e0eff6","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"2b7fdd59-cf44-3f0f-b346-98099aca0f1c","name":"","source":{"id":"bb3ecc84-b9f7-39c7-a304-3f9190aede78","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"ReplaceText","comments":""},"destination":{"id":"5744f655-a14e-3fb2-a03f-509ddae2934d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"PutCassandraRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"2f21456a-9028-3f0d-9e9d-968fbbd868b3","name":"","source":{"id":"5744f655-a14e-3fb2-a03f-509ddae2934d","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"PutCassandraRecord","comments":""},"destination":{"id":"92136eea-1f18-3c38-a16c-047796734d60","type":"PROCESSOR","groupId":"e0c84c6f-e26e-360f-afcd-d1648bf8988f","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"68402148-025a-3fdc-ad8b-2286b8c2d1d5","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.3"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"46f7148f-7130-3f9d-aa99-6b8dec5dbe61","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.3"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Value Separator":",","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"},{"identifier":"a3f92f0e-ca9a-3cf4-9ba4-a2898a5177c1","name":"region_daily_data_points_parser","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.3"}}],"properties":{"combined_key":"$.combined_key","schema-branch":null,"year":"$.year","long_":"$.long_","province_state":"$.province_state","active":"$.active","fips":"$.fips","confirmed":"$.confirmed","Timestamp Format":null,"Date Format":null,"recovered":"$.recovered","month":"$.month","schema-name":"coronavirus","schema-registry":null,"last_update":"$.last_update","admin2":"$.admin2","Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"region":"$.region","schema-text":"{\n  \"type\": \"record\",\n  \"namespace\": \"coronavirus\",\n  \"name\": \"region_daily_data_points\",\n  \"fields\": [\n    { \"name\": \"region\", \"type\": \"string\", \"default\": \"NA\" },\n    { \"name\": \"day\", \"type\": \"int\" },\n    { \"name\": \"month\", \"type\": \"int\" },\n    { \"name\": \"year\", \"type\": \"int\" },\n    {\n      \"name\": \"last_update\",\n      \"type\": {\n        \"type\": \"long\",\n        \"logicalType\": \"timestamp-millis\"\n      },\n      \"default\": 0\n    },\n    { \"name\": \"province_state\", \"type\": \"string\" },\n    { \"name\": \"admin2\", \"type\": \"string\", \"default\": \"NA\" },\n    { \"name\": \"active\", \"type\": \"long\", \"default\": 0 },\n    { \"name\": \"combined_key\", \"type\": \"string\" },\n    { \"name\": \"confirmed\", \"type\": \"long\", \"default\": 0 },\n    { \"name\": \"deaths\", \"type\": \"long\", \"default\": 0 },\n    { \"name\": \"fips\", \"type\": \"string\" },\n    { \"name\": \"lat\", \"type\": \"float\", \"default\": 0 },\n    { \"name\": \"long_\", \"type\": \"float\", \"default\": 0 },\n    { \"name\": \"recovered\", \"type\": \"long\", \"default\": 0 }\n  ]\n}\n","day":"$.day","deaths":"$.deaths","lat":"$.lat"},"propertyDescriptors":{"combined_key":{"name":"combined_key","displayName":"combined_key","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"year":{"name":"year","displayName":"year","identifiesControllerService":false,"sensitive":false},"long_":{"name":"long_","displayName":"long_","identifiesControllerService":false,"sensitive":false},"province_state":{"name":"province_state","displayName":"province_state","identifiesControllerService":false,"sensitive":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false},"fips":{"name":"fips","displayName":"fips","identifiesControllerService":false,"sensitive":false},"confirmed":{"name":"confirmed","displayName":"confirmed","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"recovered":{"name":"recovered","displayName":"recovered","identifiesControllerService":false,"sensitive":false},"month":{"name":"month","displayName":"month","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"last_update":{"name":"last_update","displayName":"last_update","identifiesControllerService":false,"sensitive":false},"admin2":{"name":"admin2","displayName":"admin2","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"region":{"name":"region","displayName":"region","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"day":{"name":"day","displayName":"day","identifiesControllerService":false,"sensitive":false},"deaths":{"name":"deaths","displayName":"deaths","identifiesControllerService":false,"sensitive":false},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e0c84c6f-e26e-360f-afcd-d1648bf8988f"}],"variables":{},"componentType":"PROCESS_GROUP","groupIdentifier":"cdb6fdc7-bcb8-3b62-a7ee-0b1b04eca8c8"},{"identifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"Hourly Data Update","comments":"","position":{"x":48.0,"y":128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e5439659-9190-34c0-b0bc-c9d0904cbd53","name":"ReplaceText","comments":"","position":{"x":40.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"\"\"","Replacement Value":"null","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"08caedbd-dd89-3b02-92e5-f90c59238df8","name":"LogAttribute","comments":"","position":{"x":-392.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"050e96c7-6ce1-3c79-8bf5-0d199c7ce066","name":"LogAttribute","comments":"","position":{"x":688.0,"y":1712.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"ebd20b0b-b261-3c8e-9814-5ead2bf6d206","name":"AttributesToJSON","comments":"","position":{"x":-128.0,"y":1104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"active,last_update,admin2,combined_key,confirmed,deaths,recovered,fips,country_region,lat,long_,province_state","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"b3a0edd1-d24e-3d8e-82ac-84b77949733c","name":"UpdateAttribute","comments":"","position":{"x":240.0,"y":904.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"ac64add3-3656-3588-a3d6-fe0a1572b56c","name":"LogAttribute","comments":"","position":{"x":1320.0,"y":1192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"e91e8e15-32aa-3523-99b2-bbe25627c2b3","name":"SplitJson","comments":"","position":{"x":688.0,"y":920.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.features.[*].attributes"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"f69c36d1-cf47-3b68-b009-97ee70a23470","name":"EvaluateJsonPath","comments":"","position":{"x":688.0,"y":1192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","combined_key":"$.Combined_Key","long_":"$.Long_","Return Type":"json","province_state":"$.Province_State","active":"$.Active","fips":"$.FIPS","Null Value Representation":"empty string","country_region":"$.Country_Region","confirmed":"$.Confirmed","Path Not Found Behavior":"ignore","recovered":"$.Recovered","last_update":"$.Last_Update","admin2":"$.Admin2","deaths":"$.Deaths","lat":"$.Lat"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"combined_key":{"name":"combined_key","displayName":"combined_key","identifiesControllerService":false,"sensitive":false},"long_":{"name":"long_","displayName":"long_","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"province_state":{"name":"province_state","displayName":"province_state","identifiesControllerService":false,"sensitive":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false},"fips":{"name":"fips","displayName":"fips","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"country_region":{"name":"country_region","displayName":"country_region","identifiesControllerService":false,"sensitive":false},"confirmed":{"name":"confirmed","displayName":"confirmed","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"recovered":{"name":"recovered","displayName":"recovered","identifiesControllerService":false,"sensitive":false},"last_update":{"name":"last_update","displayName":"last_update","identifiesControllerService":false,"sensitive":false},"admin2":{"name":"admin2","displayName":"admin2","identifiesControllerService":false,"sensitive":false},"deaths":{"name":"deaths","displayName":"deaths","identifiesControllerService":false,"sensitive":false},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"4fc33b5d-1de9-3e21-b8f1-1a414125aacb","name":"LogAttribute","comments":"","position":{"x":1320.0,"y":920.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"4124feab-789b-329a-88f1-4c8a4e1878e1","name":"InvokeHTTP","comments":"","position":{"x":688.0,"y":656.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{"background-color":"#00f2ba"},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":"(.*)","use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"60 secs","send-message-body":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://services9.arcgis.com/N9p5hsImWXAccRNI/arcgis/rest/services/Nc2JKvYFoAEOFCG5JSI6/FeatureServer/1/query?f=json&where=%28Deaths%3E%3D0%29%20&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&outSR=102100&cacheHint=true&resultRecordCount=50000&resultOffset=0&resultType=standard","Content-Type":"${mime.type}","invokehttp-proxy-user":null,"Referer":"https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html","Read Timeout":"120 secs","Max Length To Put In Attribute":"256","Proxy Port":null,"SSL Context Service":"2251f54b-3701-38f4-bdcb-a1b064ce4bc8","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Referer":{"name":"Referer","displayName":"Referer","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"3600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"b809083d-fcbc-3b4d-a6ff-5f8c80e6bcb0","name":"LogAttribute","comments":"","position":{"x":1336.0,"y":1448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"b3f0f167-9405-3e6a-81fc-182e1053f30f","name":"PutCassandraRecord","comments":"","position":{"x":688.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-cassandra-nar","version":"1.11.3"},"style":{"background-color":"#0fd931"},"type":"org.apache.nifi.processors.cassandra.PutCassandraRecord","properties":{"put-cassandra-record-batch-size":"100","put-cassandra-record-batch-statement-type":"LOGGED","SSL Context Service":null,"Username":"cassandra","put-cassandra-record-reader":"cce4b518-a1f6-3f25-846e-dbb819220707","Consistency Level":"SERIAL","Keyspace":"coronavirus","cassandra-connection-provider":null,"Client Auth":"REQUIRED","Cassandra Contact Points":"localhost:9042","put-cassandra-record-table":"region_data_global_latest"},"propertyDescriptors":{"put-cassandra-record-batch-size":{"name":"put-cassandra-record-batch-size","displayName":"Batch size","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-batch-statement-type":{"name":"put-cassandra-record-batch-statement-type","displayName":"Batch Statement Type","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-reader":{"name":"put-cassandra-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Consistency Level":{"name":"Consistency Level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"Keyspace":{"name":"Keyspace","displayName":"Keyspace","identifiesControllerService":false,"sensitive":false},"cassandra-connection-provider":{"name":"cassandra-connection-provider","displayName":"Cassandra Connection Provider","identifiesControllerService":true,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Cassandra Contact Points":{"name":"Cassandra Contact Points","displayName":"Cassandra Contact Points","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-table":{"name":"put-cassandra-record-table","displayName":"Table name","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d2f38f25-ceb6-3a72-96e5-14dc3cae528c","name":"","source":{"id":"b3f0f167-9405-3e6a-81fc-182e1053f30f","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"PutCassandraRecord","comments":""},"destination":{"id":"b809083d-fcbc-3b4d-a6ff-5f8c80e6bcb0","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"427be9f3-4da5-3198-9090-23a8be042dfb","name":"","source":{"id":"f69c36d1-cf47-3b68-b009-97ee70a23470","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"EvaluateJsonPath","comments":""},"destination":{"id":"ac64add3-3656-3588-a3d6-fe0a1572b56c","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"bc4d542b-f52f-3a86-ba21-7a0ad5e2e3f1","name":"","source":{"id":"b3f0f167-9405-3e6a-81fc-182e1053f30f","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"PutCassandraRecord","comments":""},"destination":{"id":"050e96c7-6ce1-3c79-8bf5-0d199c7ce066","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"54bc17b8-63d6-3255-a76f-f82dab851b7f","name":"","source":{"id":"e5439659-9190-34c0-b0bc-c9d0904cbd53","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"ReplaceText","comments":""},"destination":{"id":"b3f0f167-9405-3e6a-81fc-182e1053f30f","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"PutCassandraRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"1af9a2a7-4abf-32b3-b4ca-e87e604c481e","name":"","source":{"id":"e91e8e15-32aa-3523-99b2-bbe25627c2b3","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"SplitJson","comments":""},"destination":{"id":"4fc33b5d-1de9-3e21-b8f1-1a414125aacb","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"f5e36d51-9571-32d5-9472-c6c9b6cc325e","name":"","source":{"id":"f69c36d1-cf47-3b68-b009-97ee70a23470","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"EvaluateJsonPath","comments":""},"destination":{"id":"b3a0edd1-d24e-3d8e-82ac-84b77949733c","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"5aed9f7e-b64e-3b5e-bb6c-93b89c8e2b52","name":"","source":{"id":"b3a0edd1-d24e-3d8e-82ac-84b77949733c","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"UpdateAttribute","comments":""},"destination":{"id":"ebd20b0b-b261-3c8e-9814-5ead2bf6d206","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"AttributesToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"02455927-8d6b-37c7-9b81-db8191ad0cf8","name":"","source":{"id":"4124feab-789b-329a-88f1-4c8a4e1878e1","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"InvokeHTTP","comments":""},"destination":{"id":"e91e8e15-32aa-3523-99b2-bbe25627c2b3","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"d8bece88-e98a-398b-8d26-5bb61f288584","name":"","source":{"id":"ebd20b0b-b261-3c8e-9814-5ead2bf6d206","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"AttributesToJSON","comments":""},"destination":{"id":"08caedbd-dd89-3b02-92e5-f90c59238df8","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"c9d5ef0f-22b7-358d-a233-c3baf86c211e","name":"","source":{"id":"e91e8e15-32aa-3523-99b2-bbe25627c2b3","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"SplitJson","comments":""},"destination":{"id":"f69c36d1-cf47-3b68-b009-97ee70a23470","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"},{"identifier":"f934e03b-2c38-3509-a6fb-f0edec6ce2b0","name":"","source":{"id":"ebd20b0b-b261-3c8e-9814-5ead2bf6d206","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"AttributesToJSON","comments":""},"destination":{"id":"e5439659-9190-34c0-b0bc-c9d0904cbd53","type":"PROCESSOR","groupId":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"440240f8-aa6e-3cb6-96b5-e0b297c42d9a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP","groupIdentifier":"cdb6fdc7-bcb8-3b62-a7ee-0b1b04eca8c8"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"cce4b518-a1f6-3f25-846e-dbb819220707","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.3"}}],"properties":{"combined_key":"$.combined_key","schema-branch":null,"long_":"$.long_","province_state":"$.province_state","active":"$.active","fips":"$.fips","country_region":"$.country_region","confirmed":"$.confirmed","Timestamp Format":null,"Date Format":null,"recovered":"$.recovered","schema-name":"coronavirus","schema-registry":null,"last_update":"$.last_update","admin2":"$.admin2","Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n    \"type\" : \"record\",\n    \"namespace\" : \"coronavirus\",\n    \"name\" : \"region_data_global_latest\",\n    \"fields\" : [\n        {\"name\" : \"province_state\" , \"type\" : \"string\", \"default\": \"NA\"},\n        {\"name\" : \"country_region\" , \"type\" : \"string\"},\n        {\"name\" : \"last_update\" , \"type\": { \n                \"type\": \"long\", \n                  \"logicalType\": \"timestamp-millis\" \n                }, \"default\": 0\n        },\n        {\"name\" : \"lat\" , \"type\" : \"float\", \"default\": 0},\n        {\"name\" : \"long_\" , \"type\" : \"float\", \"default\": 0},\n        {\"name\" : \"active\" , \"type\" : \"long\", \"default\": 0},\n        {\"name\" : \"confirmed\" , \"type\" : \"long\", \"default\": 0},\n        {\"name\" : \"recovered\" , \"type\" : \"long\", \"default\": 0},\n        {\"name\" : \"deaths\" , \"type\" : \"long\", \"default\": 0},\n        {\"name\" : \"admin2\" , \"type\" : \"string\", \"default\": \"NA\"},\n        {\"name\" : \"fips\" , \"type\" : \"string\"},\n        {\"name\" : \"combined_key\" , \"type\" : \"string\"}\n     ]\n}","deaths":"$.deaths","lat":"$.lat"},"propertyDescriptors":{"combined_key":{"name":"combined_key","displayName":"combined_key","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"long_":{"name":"long_","displayName":"long_","identifiesControllerService":false,"sensitive":false},"province_state":{"name":"province_state","displayName":"province_state","identifiesControllerService":false,"sensitive":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false},"fips":{"name":"fips","displayName":"fips","identifiesControllerService":false,"sensitive":false},"country_region":{"name":"country_region","displayName":"country_region","identifiesControllerService":false,"sensitive":false},"confirmed":{"name":"confirmed","displayName":"confirmed","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"recovered":{"name":"recovered","displayName":"recovered","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"last_update":{"name":"last_update","displayName":"last_update","identifiesControllerService":false,"sensitive":false},"admin2":{"name":"admin2","displayName":"admin2","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"deaths":{"name":"deaths","displayName":"deaths","identifiesControllerService":false,"sensitive":false},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb6fdc7-bcb8-3b62-a7ee-0b1b04eca8c8"},{"identifier":"2251f54b-3701-38f4-bdcb-a1b064ce4bc8","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.11.3"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.3"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home/jre/lib/security/cacerts","Keystore Filename":"/Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home/jre/lib/security/cacerts"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb6fdc7-bcb8-3b62-a7ee-0b1b04eca8c8"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}